<form [formGroup]="form" class="form-stack">
  <p-floatlabel variant="on">
    <p-password
      inputId="newPassword"
      formControlName="password"
      [feedback]="false"
      [toggleMask]="true"
      [fluid]="true"
      [inputStyle]="{ width: '100%' }"
    ></p-password>
    <label for="newPassword">Password</label>
  </p-floatlabel>
  <div class="password-checklist">
    <p [class.valid]="passwordChecks.minLength">Minimum of 8 characters</p>
    <p [class.valid]="passwordChecks.special">At least one special character</p>
    <p [class.valid]="passwordChecks.upper">At least one uppercase letter</p>
    <p [class.valid]="passwordChecks.lower">At least one lowercase letter</p>
    <p [class.valid]="passwordChecks.digit">At least one number</p>
  </div>
  <p-floatlabel variant="on">
    <p-password
      inputId="confirmNewPassword"
      formControlName="confirmPassword"
      [feedback]="false"
      [toggleMask]="true"
      [fluid]="true"
      [inputStyle]="{ width: '100%' }"
    ></p-password>
    <label for="confirmNewPassword">Confirm Password</label>
  </p-floatlabel>
  @if (
    form.errors?.["passwordMismatch"] &&
    form.controls["confirmPassword"].touched
  ) {
    <small class="error-text">Passwords do not match.</small>
  }
  <button
    pButton
    type="button"
    class="action-btn"
    [disabled]="loading"
    (click)="submit()"
  >
    {{ loading ? "Updating..." : buttonLabel }}
  </button>
</form>
