<simple-notifications></simple-notifications>
<div class="auth-layout">
  <div class="left-panel">
    <p-carousel
      [value]="carouselSlides"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="4500"
      [showNavigators]="false"
    >
      <ng-template pTemplate="item" let-slide>
        <div
          class="slide-item"
          [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }"
        >
          <div class="slide-overlay">
            <h2>{{ slide.title }}</h2>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="right-panel">
    <app-login-form></app-login-form>
  </div>
</div>
