.center-pane {
  z-index: 99998;
}

button {
  width: 145px;
  height: 44px;
  gap: 8px;
  border-radius: 8px;
  // padding-top: 16px;
  padding-right: 20px;
  // padding-bottom: 16px;
  padding-left: 20px;
  background-color: rgba(0, 0, 128, 1);
  color: #fafafc;
}

.input-container {
  position: relative; /* Establishes a positioning context for child elements */
  display: inline-block; /* Ensures the container wraps around the input */
}

.form-control {
  width: 480px;
  height: 52px;
  border-radius: 12px;
  padding-right: 40px; /* Add padding to prevent text from overlapping the icon */
  box-sizing: border-box; /* Ensures padding is included in the width/height */
}

.search-icon {
  position: absolute; /* Position the icon absolutely within the container */
  top: 50%; /* Center vertically */
  right: 12px; /* Align to the right edge with some spacing */
  transform: translateY(-50%); /* Fine-tune vertical centering */
  width: 24px; /* Adjust size of the icon as needed */
  height: 24px; /* Adjust size of the icon as needed */
  pointer-events: none; /* Prevent the icon from interfering with input interactions */
}
.search-icon :hover {
  cursor: pointer;
}
.summary-table th {
  font-size: 13px;
  font-weight: 600px;
}
.summary-table tr {
  font-size: 13px;
  font-weight: 400px;
}

::ng-deep {
  .p-datatable-table-container {
    max-height: 600px !important;
    overflow-y: scroll;
  }
}

.action-icon:hover {
  cursor: pointer;
}

.action-icon {
  cursor: pointer;
  color: #0d6efd;
  &:hover {
    color: #0b5ed7;
  }
}

.action-menu {
  position: fixed;
  z-index: 1050; // Above most elements
  min-width: 250px;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 1px rgba(197, 196, 196, 0.15);

  .list-group {
    border-radius: inherit;

    &-item {
      padding: 0.5rem 1rem;
      border: none;
      border-bottom: 1px solid #dee2e6;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        // background-color: #dfdfdf;
        cursor: pointer;
      }
    }
  }
}

.bi {
  color: #6c757d;
}

.action-menu .eye:hover {
  background-color: rgba(0, 0, 128, 0.06);
}
.action-menu .x:hover {
  background-color: rgba(219, 66, 66, 0.104);
}
.action-menu .check:hover {
  background-color: rgba(4, 250, 65, 0.104);
}
.action-menu .excl:hover {
  background-color: rgba(239, 153, 5, 0.055);
}
