.chart-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chart-wrapper {
  width: 120px;
  height: 120px;
}

.legend-column {
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend-color {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.legend-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--app-text-secondary);
}
