::ng-deep {
  .p-drawer {
    background-color: #f8fafc !important;
    width: 15rem !important;
    transition:
      transform 0.3s ease-in-out,
      width 0.3s ease-in-out;
  }

  .p-drawer-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .p-panel {
    border: none !important;
    background-color: #fafafc !important;
  }

  .p-panel-header {
    border-bottom: 1px solid #e4e4e4 !important;
    justify-content: start !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    transition: all 0.2s ease-in;
    cursor: pointer;

    font-size: 14px;
  }

  .p-panel-content li {
    border-bottom: 1px solid #f1f1f1 !important;
  }

  .p-panel-header:hover {
    // background-color: #ecedef !important;
    color: rgb(104, 104, 105);
    font-weight: bold;
  }
}
p-sidebar {
  pointer-events: auto; /* Allow interactions with the sidebar */
}
.menu {
  overflow: auto; /* Ensure content inside the sidebar is scrollable */
}

/* Animation for sidebar */

p-sidebar {
  transition:
    transform 0.3s ease-in-out,
    width 0.3s ease-in-out;
}

/* Animation when sidebar is on the left */
.p-sidebar-left {
  transform: translateX(-100%);
}

.p-sidebar-left.p-sidebar-active {
  transform: translateX(0);
}

/* Animation when sidebar is on the right */
.p-sidebar-right {
  transform: translateX(100%);
}

.p-sidebar-right.p-sidebar-active {
  transform: translateX(0);
}
