<article
  class="metric-card"
  [class.active]="active"
  [class.filter-card]="variant === 'filter'"
  [class.clickable]="clickable"
  [attr.role]="clickable ? 'button' : null"
  [attr.tabindex]="clickable ? '0' : null"
  (click)="onCardClick()"
  (keydown.enter)="onCardClick()"
  (keydown.space)="$event.preventDefault(); onCardClick()"
>
  <div class="metric-head">
    <p class="metric-title body-small" [class.label]="variant === 'filter'">
      {{ title }}
    </p>
    @if (icon) {
      <img [src]="icon" alt="" />
    }
  </div>
  <h3 [class.metric]="variant === 'filter'" class="title-xlarge">
    {{ value }}
  </h3>
  @if (subtext) {
    <small
      [class.metric-subtext]="variant === 'filter'"
      class="metric-small body-xs"
      >{{ subtext }}</small
    >
  }
</article>
