@use "tailwindcss";
@import "../node_modules/tailwindcss-primeui/v4/index.css";

body {
  font-family: "Lato", sans-serif !important;
}
.layout .content {
  position: relative;
  z-index: 999999; /* Ensure main content is above the sidebar */
}

.is-valid {
  border-color: #86b7fe !important;
}

.is-invalid {
  border-color: red !important;
}
.center-pane {
  z-index: 999999;
}
.body-small {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  gap: 4px;
  letter-spacing: 0%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
